In [34]:
import pandas as pd
import numpy as np

In [35]:
py_names = ["Jack", "Jill", "Joe"]
py_grades = [90,89,87]

In [36]:
s = pd.Series(py_grades, index = py_names, name = 'Test 1', dtype = float)
s

Jack    90.0
Jill    89.0
Joe     87.0
Name: Test 1, dtype: float64

In [37]:
np.mean(s), np.std(s)

(88.66666666666667, 1.247219128924647)

In [40]:
t = pd.Series(dict(Joe = 78, Jack = 90, Jill = 87, Jake = 98), name="Test 2")
t

Joe     78
Jack    90
Jill    87
Jake    98
Name: Test 2, dtype: int64

In [42]:
s.index, t.index

(Index(['Jack', 'Jill', 'Joe'], dtype='object'),
 Index(['Joe', 'Jack', 'Jill', 'Jake'], dtype='object'))

In [43]:
s.values, t.values

(array([90., 89., 87.]), array([78, 90, 87, 98]))

In [44]:
s + t

Jack    180.0
Jake      NaN
Jill    176.0
Joe     165.0
dtype: float64

In [45]:
(s + t)/2

Jack    90.0
Jake     NaN
Jill    88.0
Joe     82.5
dtype: float64